<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="accountForm">
    <mat-grid-list cols="12">
      <mat-grid-tile colspan="3">
        <mat-label>Username</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input matInput formControlName="username" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Password</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input
            matInput
            placeholder="Enter new password"
            formControlName="password"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Email</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input matInput formControlName="email" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Name</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input matInput formControlName="name" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Gender</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-radio-group formControlName="genderID">
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button value="2">Female</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Role</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <mat-select formControlName="roleID">
            <mat-option value="1">Admin</mat-option>
            <mat-option value="2">User</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Phone</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input matInput formControlName="phone" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    cdkFocusInitial
    color="primary"
    (click)="onConfirm()"
  >
    Ok
  </button>
</div>
