mat-label {
  width: 100%;
  text-align: right;
}

mat-form-field {
  width: 80%;
}

mat-radio-group {
  width: 80%;
}

mat-radio-button {
  margin-right: 1em;
}

input {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
