<div class="feature-bar">
  <h2>{{ title }}</h2>
  <div class="tool-box">
    <mat-form-field>
      <mat-icon matSuffix>search</mat-icon>
      <input
        type="text"
        matInput
        placeholder="search"
        (input)="searchTextChanged($event)"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addButtonClicked()">
      Add
    </button>
  </div>
</div>
