nav {
  height: 100%;
  background-color: lightgray;
  width: 4em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 1em;
  list-style-type: none;
  text-align: center;
}

.active {
  background: gray;
}

a {
  text-decoration: none;
  color: black;
}
