<nav>
  <ul>
    <li
      *ngFor="let url of urls; index as i"
      [ngClass]="url == activeUrl ? 'active' : ''"
    >
      <a routerLink="{{ url }}" (click)="activeUrlChanged(url)">
        <mat-icon>{{ icons[i] }}</mat-icon>
      </a>
    </li>
  </ul>
</nav>
