<div class="root-container">
  <app-header-bar></app-header-bar>
  <div class="container">
    <app-sidebar
      [icons]="icons"
      [urls]="urls"
      [activeUrl]="activeUrl"
      (onActiveUrlChange)="changeActiveUrl($event)"
    ></app-sidebar>
    <router-outlet></router-outlet>
  </div>
</div>
