<section>
  <form action="">
    <h2>THE COFFEE HOUSE APP</h2>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Username" />
      <mat-hint>Hint: Please enter your username</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <input type="password" matInput placeholder="Password" />
      <mat-hint>Hint: Please enter your password</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
</section>
