section {
  background-color: lightgray;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section form {
  margin-top: 4em;
  padding: 2em;
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
}

section form h2 {
  text-align: center;
}

section form button {
  margin-top: 1em;
}
