<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-grid-list cols="12">
      <mat-grid-tile colspan="3">
        <mat-label>Name</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input matInput formControlName="name" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Category</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <mat-select formControlName="categoryID">
            <mat-option value="1">Cafe</mat-option>
            <mat-option value="2">No cafe</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-label>Description</mat-label>
      </mat-grid-tile>
      <mat-grid-tile colspan="9">
        <mat-form-field>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    cdkFocusInitial
    color="primary"
    (click)="onConfirm()"
  >
    Ok
  </button>
</div>
